* {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 235, 205, 0.346);
}

.container {
  border: 1px solid black;
  width: 750px;
  height: 540px;
margin-left: 320px;
  margin-top: 15px;
}
.topo{
  text-align: center;
  text-transform: uppercase;
  
}
img{
  text-align: center;
  width: 70%;
  height: 60%;
  margin-top: 80px;
  margin-left: 110px;
}
.dados{
  text-align: center;
}